.inCardWrap {
  position: relative;
  border: 3px black;
  border-style: solid;
  border-radius: 10%;
  background-color: red;
  color: black;
  width: 100px;
  height: 150px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  transition: transform .2s ease-in-out;
  display: inline-block;
  &:hover {
    background-color: black;
    color: black;
  }
  &:active{
    cursor: pointer;
    background-color: black;
    color: white;
    transform: translateY(-20px);
  }
}

