#menuModal {
  #backBtn {
    text-align: center;
    font-size: 30px;
    border: 1px black solid;
    position: absolute;
    width: 40px;
    height: 40px;
    left : 94%;
    top : 10px;
    background-color: #726d6d7c;
  }
  .menuWraper {
    bottom: 100px;
    div {
      border: 3px black solid;
      position:absolute;
      text-align: center;
      font-size: 50px;
    }

    :nth-child(1){
      width: 405px;
      height: 650px;
      img{
        position: absolute;
        width: 230px;
        height: auto;
        top: 30%;
        left : 25%;
      }
    }

    :nth-child(2){
      left : 48%;
      width: 405px;
      height: 200px;
    }
    :nth-child(3){
      left : 48%;
      top : 35%;
      width: 195px;
      height: 250px;
    }
    :nth-child(4) {
      left: 71%;
      top: 35%;
      width: 195px;
      height: 250px;
    }
    :nth-child(5) {
      left: 48%;
      top: 74%;
      width: 195px;
      height: 160px;
    }

    :nth-child(6) {
      left: 71%;
      top: 74%;
      width: 195px;
      height: 160px;
    }
  }
}

.navi {
  border-bottom: 3px dotted;
  margin: 10px;
  .modal{
  display: inline-block;
  background-color: aqua;
  margin: 10px;
  border : 3px solid black;
  }
}


.Main {
  .character {
    width: 224px;
    height: 216.04px;
    border: 2px black solid;
    border-radius: 50%;

    .userName{
      position: absolute;
      left: 40%;
      right: 0%;
      bottom: -45%;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16.6079px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.01em;

      color: #323232;
    }
  }
  
  .selectGameBtn{
    position: absolute;
    width: 187.33px;
    height: 45.69px;
    left: 750px;
    top: 751px;
    border: 2px black solid;
    text-align: center;
    font-size: 30px;
  }

  .startBtn {
    position: absolute;
    width: 187.33px;
    height: 45.69px;
    left: 983px;
    top: 751px;
    text-align: center;
    border: 2px black solid;
    font-size: 30px;
  }

  .selectedGame {
    position: absolute;
    width: 580px;
    height: 359px;
    left: 670px;
    top: 358px;
    border: 3px black solid;

    .selecteMessage{
      position: absolute;
      font-size: 30px;
      width: 250px;
      left: 170px;
    }

    .infoBtn {
      position: absolute;
      left: 88.86%;
      right: 4.55%;
      top: 5.49%;
      bottom: 83.88%;
      background: #737171;
      border-radius: 50%;
      text-align: center;
      font-size: 30px;
      color: aliceblue;
    }
  }


  :nth-child(1){
    position: absolute;
    left : 389px;
    top : 183px;
  }
  :nth-child(2) {
    position: absolute;
    left: 389px;
    top: 490px;
  }

  :nth-child(3) {
    position: absolute;
    left: 389px;
    top: 797px;
  }

  :nth-child(4) {
    position: absolute;
    left: 1296px;
    top: 183px;
  }

  :nth-child(5) {
    position: absolute;
    left: 1296px;
    top: 490px;
  }

  :nth-child(6) {
    position: absolute;
    left: 1296px;
    top: 797px;
  }

  

}