#mainWrap {
  // display: flex;
  // justify-content: space-around;
  width: 960px;
  height: 740px;
  border: solid blue 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
}


#menuModal {

  #backBtn {
    text-align: center;
    font-size: 30px;
    border: 1px black solid;
    position: absolute;
    width: 40px;
    height: 40px;
    left : 94%;
    top : 10px;
    background-color: #726d6d7c;

    
  }
  .menuWraper {
    bottom: 100px;
    div {
      border: 3px black solid;
      position:absolute;
      text-align: center;
      font-size: 50px;
    }

    :nth-child(1){
      width: 405px;
      height: 650px;
      img{
        position: absolute;
        width: 230px;
        height: auto;
        top: 30%;
        left : 25%;
      }
    }

    :nth-child(2){
      left : 48%;
      width: 405px;
      height: 200px;
    }
    :nth-child(3){
      left : 48%;
      top : 35%;
      width: 195px;
      height: 250px;
    }
    :nth-child(4) {
      left: 71%;
      top: 35%;
      width: 195px;
      height: 250px;
    }
    :nth-child(5) {
      left: 48%;
      top: 74%;
      width: 195px;
      height: 160px;
    }

    :nth-child(6) {
      left: 71%;
      top: 74%;
      width: 195px;
      height: 160px;
    }
  }
}

.navi {
  border-bottom: 3px dotted;
  // margin: 10px;
  .modal{
  display: inline-block;
  background-color: aqua;
  margin: 10px;
  border : 3px solid black;
  }
}


.Main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction:row;
  width: 960px;
  height: 693px;

  .char1 {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
  }

  .gameMain {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .char2 {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
  }
  
  
  .character {
    position : relative;
    // display: inline-block;
    width: 137px;
    height: 141.34px;
    border: 2px black solid;
    border-radius: 5%;
    margin: 0px;
    // text-align: center;
    // align-items: center;
    
  }

  .userName {
    position: relative;
    // left: 40%;
    // right: 0%;
    // bottom: -45%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16.6079px;
    line-height: 19px;
    // display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    margin-top: 10px;
    color: #323232;
  }
  
  .selectGameBtn{
    position: relative;
    width: 200px;
    height: 40px;
    // left: 750px;
    // top: 751px;
    border: 2px black solid;
    text-align: center;
    font-size: 30px;
  }

  .startBtn {
    position: relative;
    width: 320px;
    height: 70px;
    // left: 983px;
    // top: 751px;
    text-align: center;
    border: 2px black solid;
    font-size: 30px;
  }

  .selectedGame {
    position: relative;
    width: 485px;
    height: 340px;
    // left: 670px;
    // top: 358px;
    border: 3px black solid;

    .selecteMessage{
      display: inline-block;
      // position: relative;
      font-size: 30px;
      text-align: center;
      width: 250px;
      left: 170px;
    }

    .infoBtn {
      position: relative;
      // left: 88.86%;
      // right: 4.55%;
      top: 5.49%;
      bottom: 83.88%;
      background: #737171;
      border-radius: 50%;
      text-align: center;
      font-size: 30px;
      color: aliceblue;
    }
  }


  :nth-child(1){
    // position: relative;
    // left : 11px;
    // top : 152px;
  }
  :nth-child(2) {
    // position: relative;
    // left: 11px;
    // top: 375px;
  }

  :nth-child(3) {
    // position: relative;
    // left: 11px;
    // top: 598px;
  }

  :nth-child(4) {
    // position: relative;
    // left: 1296px;
    // top: 183px;
  }

  :nth-child(5) {
    // position: relative;
    // left: 1296px;
    // top: 490px;
  }

  :nth-child(6) {
    // position: relative;
    // left: 1296px;
    // top: 797px;
  }

  

}