#mainWrap {
  width: 960px;
  height: 740px;
  border: solid blue 2px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0;
  margin: 0;
}

#menuModal #backBtn {
  text-align: center;
  font-size: 30px;
  border: 1px black solid;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 94%;
  top: 10px;
  background-color: #726d6d7c;
}

#menuModal .menuWraper {
  bottom: 100px;
}

#menuModal .menuWraper div {
  border: 3px black solid;
  position: absolute;
  text-align: center;
  font-size: 50px;
}

#menuModal .menuWraper :nth-child(1) {
  width: 405px;
  height: 650px;
}

#menuModal .menuWraper :nth-child(1) img {
  position: absolute;
  width: 230px;
  height: auto;
  top: 30%;
  left: 25%;
}

#menuModal .menuWraper :nth-child(2) {
  left: 48%;
  width: 405px;
  height: 200px;
}

#menuModal .menuWraper :nth-child(3) {
  left: 48%;
  top: 35%;
  width: 195px;
  height: 250px;
}

#menuModal .menuWraper :nth-child(4) {
  left: 71%;
  top: 35%;
  width: 195px;
  height: 250px;
}

#menuModal .menuWraper :nth-child(5) {
  left: 48%;
  top: 74%;
  width: 195px;
  height: 160px;
}

#menuModal .menuWraper :nth-child(6) {
  left: 71%;
  top: 74%;
  width: 195px;
  height: 160px;
}

.navi {
  border-bottom: 3px dotted;
}

.navi .modal {
  display: inline-block;
  background-color: aqua;
  margin: 10px;
  border: 3px solid black;
}

.Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 960px;
  height: 693px;
}

.Main .char1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Main .gameMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.Main .char2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Main .character {
  position: relative;
  width: 137px;
  height: 141.34px;
  border: 2px black solid;
  border-radius: 5%;
  margin: 0px;
}

.Main .userName {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16.6079px;
  line-height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  margin-top: 10px;
  color: #323232;
}

.Main .selectGameBtn {
  position: relative;
  width: 200px;
  height: 40px;
  border: 2px black solid;
  text-align: center;
  font-size: 30px;
}

.Main .startBtn {
  position: relative;
  width: 320px;
  height: 70px;
  text-align: center;
  border: 2px black solid;
  font-size: 30px;
}

.Main .selectedGame {
  position: relative;
  width: 485px;
  height: 340px;
  border: 3px black solid;
}

.Main .selectedGame .selecteMessage {
  display: inline-block;
  font-size: 30px;
  text-align: center;
  width: 250px;
  left: 170px;
}

.Main .selectedGame .infoBtn {
  position: relative;
  top: 5.49%;
  bottom: 83.88%;
  background: #737171;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  color: aliceblue;
}
/*# sourceMappingURL=WatingRoom.css.map */