#mainWrap {
  display: flex;
  // justify-content: space-around;
  width: 822.22px;
  height: 740px;
  border: solid blue 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  flex-direction: column;


  .navi {
    display: flex;
    justify-content: center;

    .modal {
      background-color: lightgrey;
      margin: 10px;

    }
  }

  .Main {
    display: flex;
    height: 695.38px;
    justify-content: space-around;
    align-items: center;
    align-items: stretch;

    .char1 {
      display: flex;
      flex-direction: column;
      // background-color: lightcoral;
      justify-content: space-evenly;


    }

    .gameMain {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      // background-color: lightblue;
      justify-content: space-evenly;
    }

    .char2 {
      display: flex;
      flex-direction: column;
      // background-color: lightcoral;
      justify-content: space-evenly;
    }


    .character {
      width: 120px;
      height: 123.8px;
      border-radius: 5%;
      background-color: #000000;
    }

    .userName {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      // display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.01em;
      margin-top: 10px;
      color: #323232;
    }

    .selectGameBtn {
      position: relative;
      width: 200px;
      height: 40px;
      text-align: center;
      font-size: 18px;
      border-radius: 5px;
      background-color: #fcce39;
      color: white;
    }

    .startBtn {
      width: 300px;
      height: 65.62px;
      text-align: center;
      font-size: 32px;
      border-radius: 10px;
      background-color: #fcce39;
      color: white;
    }

    .selectedGame {
      width: 450px;
      height: 315.46px;
      border-radius: 10px;
      background-color: #0c8247;
      display: flex;
      align-items: center;
      justify-content: center;


      .selecteMessage {
        font-size: 36px;
        color: #fcce39;
      }
    }
  }

}


#menuModal {
  #backBtn {
    text-align: center;
    font-size: 30px;
    // border: 1px red solid;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 91%;
    color: #fcce39;
    cursor: pointer;
    &:hover{
      color: black;
    }
  }

  .menuWraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .menuTitle {
      font-size: 50px;
      // border: 1px red solid;
      color: #FCCE39;
      margin-bottom: 20px;
      text-align: center;
    }

    .menuRankContainer {
      display: flex;
      justify-content: center;

      .menuRankLeft {
        border-right: 5px black solid;
        width: 360.1px;
        height: 436.72px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #08552E;
        border-radius: 10px;

        .nameTitleContainer {
          margin-top: 20px;

          .LeftName {
            font-size: 24px;
            color: #FCCE39;
            margin-bottom: 10px;
            text-align: center;
          }

          .LeftTitle {
            width: 127.7px;
            height: 22.99px;
            background-color: #042917;
            color: #fcce39;
            border-radius: 5px;
            text-align: center;
            line-height: 22.99px;
          }
        }

        .LeftImage {
          width: 194.1px;
          height: 194.1px;
          background-color: #042213;
          border-radius: 10px;
          color: #fcce39;
          text-align: center;
          font-size: 50px;
          line-height: 194.1px;
        }

        .LeftBadgeContainer {
          color: #fcce39;
          font-size: 14px;
          align-self: flex-start;
          margin-left: 20px;

          .LeftBadges {
            display: flex;

            .LeftBadge {
              border-radius: 50%;
              width: 19.94px;
              height: 19.94px;
              background-color: #FCCE39;
              color: #000000;
              text-align: center;
              font-weight: bold;
              line-height: 19.94px;
              margin-top: 5px;
              margin-right: 5px;
            }
          }
        }

      }
      .menuRankRight {
        display: flex;
        width: 360.1px;
        height: 436.72px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: 1px red solid;
        background-color: #05391F;
        border-radius: 10px;

        .scrollBtnContainer {
          display: flex;
          width: 360.1px;
          flex-direction: row;
          font-size: 20px;
          justify-content: space-around;
          padding-top: 10px;
          align-self: flex-end;
          align-items: flex-end;
          .leftBtn{
            color: #FCCE39;
            cursor: pointer;
            &:hover {
              color: #000000;
            }
          }

          .rightBtn{
            color: #FCCE39;
            cursor: pointer;
            &:hover {
              color: #000000;
            }
          }

          
        }

        .menuRankRightWrapper {
          width: 278.38px;
          height: 100.45px;
          border-bottom: 1px solid transparentize($color: #FCCE39, $amount: 0.7);
          color: #FCCE39;
          display: flex;
          justify-content: space-around;
          margin: 5px;


          .menuRangkRightContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .rightRank {
              font-size: 14px;
            }

            .rightTitle {
              width: 127.7px;
              height: 22.99px;
              font-size: 12px;
              background-color: #042213;
              border-radius: 5px;
              text-align: center;
              line-height: 22.99px;
            }

            .rightBadgeContainer {
              font-size: 10px;
              display: flex;
              flex-direction: column;

              .rightBadgeTitle {}

              .rightBadges {
                display: flex;

                .rightBadge {
                  background-color: #000000;
                  border-radius: 50%;
                  width: 12.77px;
                  height: 12.77px;
                  text-align: center;
                  font-weight: bold;
                  margin-top: 5px;
                  margin-right: 3px;
                }
              }
            }
          }

          .rightImage {
            width: 100px;
            height: 100px;
            background-color: #042213;
            border-radius: 10px;
            text-align: center;
            line-height: 100px;
          }
        }
      }
    }
  }
}
