.main{
    display: flex;
}
.make_wrapper{
    margin-top: 83px;
}
.make {
    background: #FCCE39;
    width: 420px;
    height: 170px;
    text-align: center;
    margin-top: 20px;
    border-radius: 8.4px;
    color: white;
}
.RightBox{
    position: relative;
    width: 413px;
    height: 575.93px;
    background: #030303;
    border-radius: 8.39px;
    margin-left: 108px;
}
.NameBox{
    position: absolute;
    width: 413px;
    height: 108px;
    top:530px;
    background: #0C8247;
    border-radius: 0px 0px 15px 15px;
}
