.player-marble {
    background-color: #ff0000;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 3px;
}

.mainDiv {
    display: table;
    text-align: center;
    justify-content: center;
    position: relative;
    margin: auto;
}