.mainField {
    display: table;
    text-align: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

.edge {
    width: 100px;
    height: 70px;
    background-color: #FCCE39;
    display: inline-block;
    padding: 5px;
}

.left {
    width: 100px;
    height: 70px;
    background-color: #0C8247;
    display: inline-block;
    padding: 5px;
}

.right{
    width: 100px;
    height: 70px;
    background-color: #0C8247;
    display: inline-block;
    padding: 5px;
}

.center {
    width: 70px;
    height: 70px;
    background-color: #f1f1f1;
    display: inline-block;
    padding:  5px;
}

.null {
    width: 70px;
    height: 70px;
    background-color: #030303;
    display: inline-block;
    padding:  5px;
 }

/*body {*/
/*    display: inline-block;*/
/*    background-color: #030303;*/
/*    text-align: center;*/
/*}*/