body{
    background-image: url("./img/back_ground.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.main{
    display: flex;
}
.sel_hero{
    text-align: center;
    font-size: 70px;
    color: cadetblue;
    position: relative;
    float: left;
    margin-top: 100px;
    font-weight: bolder;
}

.container_select1{
    display: flex;
}

.container_select2{
    display: flex;
}
.box_hero{
    width: 300px;
    height: 350px;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 20px;
    max-width: 500px;
    max-height: 500px;
}
.box_hero:hover{
    background:linear-gradient(transparent 10%,lightgoldenrodyellow);
    transform: scale(1.1);
}
.chosen_hero{
    margin-left: 100px;
    text-align: center;
    font-size: 70px;
    color: darkcyan;
    position: relative;
    margin-top: 100px;
    font-weight: bolder;
}
.image_chosen{
    width: 700px;
    height: 700px;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 20px;
    background:linear-gradient(transparent 10%,lightgoldenrodyellow);
}
